.button {
  margin: 0;
  padding: 1em;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  background-color: $color-primary;
  color: white;
  border-radius: 1px;
  outline: 0;

  &:hover {
    background-color: darken($color-primary, 3%);
  }
}
