$modal-z: 10000;
$overlay-bg-color: rgba(0, 0, 0, .85);
$overlay-z: $modal-z - 1;

.wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $modal-z;
  overflow: auto;
  text-align: center;
  padding: 1em 1em 0;
  visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;

  // this prevents blurry text
  perspective: 1400px;
  perspective-origin: 50% 50%;

  // ??
  -webkit-overflow-scrolling: touch;

  &:after {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: -.05em;
    content: '';
  }
}

.isOpen {
  visibility: visible
}

//
// Dialog
//

.dialog {
  position: relative;
  outline: 0;
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
  transform: translate3d(0, 0, 0);
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  text-size-adjust: 100%;
  cursor: default;
}

@media (min-width: 768px) {
  .dialog {
  }

  .dialog--small {
    width: 320px;
  }

  .dialog--medium {
    width: 640px;
  }

  .dialog--large {
    width: 960px;
  }
}

.dialogEnter {
  transform: scale(1.05);
  opacity: 0;
}

.dialogEnterActive {
  transform: none;
  opacity: 1;
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.dialogLeave {
  transform: scale(1);
  opacity: 1;
}

.dialogLeaveActive {
  transform: scale(0.95);
  opacity: 0;
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

//
// Overlay
//

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $overlay-bg-color;
  height: 100%;
  width: 100%;
  z-index: $overlay-z;
}

.overlayEnter {
  opacity: 0;
}

.overlayEnterActive {
  opacity: 1;
  transition: opacity 300ms;
}

.overlayLeave {
  opacity: 1;
}

.overlayLeaveActive {
  opacity: 0;
  transition: opacity 300ms;
}
