.top {
  padding: 8em 0;
  background-color: darken(white, 4%);

  h1 {
    line-height: 1;
    padding: 0;
    font-size: 92px;
    font-weight: 300;
    margin: 0;
  }
}

.top__description {
  font-size: 22px;
}
