.wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  overflow: auto;
  text-align: center;
  padding: 1em 1em 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: pointer;
  -webkit-perspective: 1400px;
          perspective: 1400px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-overflow-scrolling: touch;
}

.wrap:after {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  content: '';
}

.isOpen {
  visibility: visible;
}

.dialog {
  position: relative;
  outline: 0;
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  cursor: default;
}

@media (min-width: 768px) {
  .dialog--small {
    width: 320px;
  }
  .dialog--medium {
    width: 640px;
  }
  .dialog--large {
    width: 960px;
  }
}

.dialogEnter {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0;
}

.dialogEnterActive {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  transition: opacity 300ms ease-in, -webkit-transform 300ms ease-in;
  transition: opacity 300ms ease-in, transform 300ms ease-in;
  transition: opacity 300ms ease-in, transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.dialogLeave {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.dialogLeaveActive {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0;
  transition: opacity 300ms ease-in, -webkit-transform 300ms ease-in;
  transition: opacity 300ms ease-in, transform 300ms ease-in;
  transition: opacity 300ms ease-in, transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100%;
  z-index: 9999;
}

.overlayEnter {
  opacity: 0;
}

.overlayEnterActive {
  opacity: 1;
  transition: opacity 300ms;
}

.overlayLeave {
  opacity: 1;
}

.overlayLeaveActive {
  opacity: 0;
  transition: opacity 300ms;
}
